fastapi
uvicorn
streamlit
crewai==1.12.2
langgraph
langchain
langchain-groq
langchain-openai
langchain-community
langchain-huggingface
python-multipart
pypdf
python-dotenv
requests
sentence-transformers
pyyaml
litellm
psycopg2-binary
pgvector